.footer{
	height: 110px;
	background-color: #565656;
}

.footer__name{
	margin-right: 20px;
	color: white;
	padding-top: 10px;
}

.date{
	margin-top: 15px;
	text-align: center;
	color: white;
}

.footer__container{
	display: flex;
	margin: 0 auto;
}

.footer__left{
	display: flex;
	width: 50%;
}

.one{
	width: max-content;
}

.footer__two{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	margin: 0 auto;
}

.footer__right{
	width: 15%;

}

.block__two, .block__one{
	width: 46%;
	display: flex;
	flex-direction: column;
}

@media  screen and (max-width: 1023px){
	.footer__name{
		margin-left: 10px;
	}
}

@media  screen and (max-width: 767px){
	.container{
		width: calc(100% - 20px);
	}

	.foooter, .footer__left{
		flex-direction: column;
	}

	
}

@media screen and (max-width: 400px){
	.footer__two, .footer__left{
		flex-direction: column;
	}

	.footer{
		height: 300px;
	}

	.block__one, .block__two{
		margin-bottom: 20px;
	}

	.footer{
		flex-direction: column;
		height: 290px;
	}

	.footer__container{
		flex-direction: column;
		align-items: center;
	}

	.block__one, .block__two{
		margin-bottom: 20px;
	}

	.footer__two, .block__one, .block__two, .footer__right{
		text-align: center;
	}
}