.projects{
	background-color: white; 
	padding: 20px 0;
}

.project__blocks{
	display: flex;
	justify-content: space-between;
}

.block__img{
	width: 200px;
	border-radius: 20px 20px 0 0;
}

.block__text{
	padding-top: 10px;
	padding-bottom: 10px; 
	text-align: center;
}

.project__name{
	font-size: 30px;
	margin-bottom: 20px;
}

.block{
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media  screen and (max-width: 1023px){
	.container{
		width: 730px;
	}

	.block__img{
		width: 150px;
	}
}

@media  screen and (max-width: 767px){
	.container{
		width: calc(100% - 20px);
	}

	.project__blocks{
		flex-wrap: wrap;
	}

	.block__img{
		width: 100%;
	}

	.block{
		width: 48%;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 400px){
	.block{
		width: 100%;
		margin-bottom: 20px;
	}
}